body{
    background-color:rgba(65, 99, 68, 0.26);
}

.container{
    border:none;
    border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 55px;
    margin: 13rem 0px 0px 28rem;
    width: 68dvh;
    background-color: blanchedalmond;


}

textarea{
    width:28rem;
    height:8rem;
    resize:none;
    padding:10px;
    font-size:18px;
    border: none;
    border-radius:10px;
    box-shadow: 5px 5px 7px rgba(65, 99, 68, 0.26);
} 


textarea:hover{
    box-shadow: 8px 8px 7px rgba(32, 40, 33, 0.339); 
}
textarea:focus{
    outline:none;
}

.charContainer{
    display:flex;
    justify-content:space-between;
}

p{
    font-size: 18px;
    padding:10px;
}

