.container{
    border:1px solid black;
    background-color:rgb(213, 238, 241);
    width:40%;
    position:absolute;
    left:28rem;
    top:10rem;
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
input{
    padding:15px;
    width: 50%;
    border-radius:8px;
    border:none;
}

label{
    margin-right: 10.8rem;        
}

#amt{
    margin-right:16rem;
}

#mainBtn{
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color:rgba(0, 0, 255, 0.391);
}

.itemList,#totalAmount{
    position: relative;
    left:30rem;
    bottom:25rem;
    margin-right:rem;
    padding: 8px;
    
}


.deleteBtn{
    margin-left: 6rem;
    background-color: rgba(255, 0, 0, 0.431);
    border:none;
    padding:10px;
    border-radius: 8px;
    cursor: pointer;
}