.container{
    border: 1px solid black;
    text-align: center;
    background-color:rgba(245, 245, 245, 0.95);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title{
    font-size:55px;
    text-transform: uppercase;
}
#display{
    font-size: 57px;
    font-weight:500;

}
button{
    margin-left: 15px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
}


