.container{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
#generateBtn{
    padding:15px;
    margin-left: 15px;
    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px ;
    font-size: 17px;
    cursor: pointer;
}
#generateBtn:hover{
    box-shadow: 5px 5px 8px rgb(180, 236, 180);
}
hr{
    margin-top: 50px;
    border:1px solid black;
}

.colorBox{
    height:150px;
    display: flex;
    justify-content:center;
    align-items:center;
    color: azure;
    padding:10px;
    font-size:35px;
    font-weight:500;
    border: 1px solid black;
    border-radius: 10px;
}


#color-container{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
     gap: 10px;
     margin-top: 50px;
}

#inputSize{
    padding:15px;
    width:30%;
    border-radius: 8px;
    
}

.copy-icon{
    width:50px;
    height:50px;
    cursor: pointer;
    margin-left: 20px;
}